<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>deer_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,52}</string>
                <key>spriteSourceSize</key>
                <string>{15,52}</string>
                <key>textureRect</key>
                <string>{{756,1},{15,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>deer_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,55}</string>
                <key>spriteSourceSize</key>
                <string>{15,55}</string>
                <key>textureRect</key>
                <string>{{696,18},{15,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>deer_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,52}</string>
                <key>spriteSourceSize</key>
                <string>{15,52}</string>
                <key>textureRect</key>
                <string>{{753,35},{15,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>deer_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,55}</string>
                <key>spriteSourceSize</key>
                <string>{15,55}</string>
                <key>textureRect</key>
                <string>{{699,1},{15,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>deer_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,48}</string>
                <key>spriteSourceSize</key>
                <string>{45,48}</string>
                <key>textureRect</key>
                <string>{{1,1},{45,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>deer_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,48}</string>
                <key>spriteSourceSize</key>
                <string>{45,48}</string>
                <key>textureRect</key>
                <string>{{48,1},{45,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>deer_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,48}</string>
                <key>spriteSourceSize</key>
                <string>{45,48}</string>
                <key>textureRect</key>
                <string>{{95,1},{45,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>deer_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,48}</string>
                <key>spriteSourceSize</key>
                <string>{45,48}</string>
                <key>textureRect</key>
                <string>{{142,1},{45,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>deer_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,48}</string>
                <key>spriteSourceSize</key>
                <string>{45,48}</string>
                <key>textureRect</key>
                <string>{{189,1},{45,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>deer_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,48}</string>
                <key>spriteSourceSize</key>
                <string>{45,48}</string>
                <key>textureRect</key>
                <string>{{236,1},{45,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>deer_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,48}</string>
                <key>spriteSourceSize</key>
                <string>{45,48}</string>
                <key>textureRect</key>
                <string>{{283,1},{45,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>deer_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,48}</string>
                <key>spriteSourceSize</key>
                <string>{45,48}</string>
                <key>textureRect</key>
                <string>{{330,1},{45,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>deer_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,62}</string>
                <key>spriteSourceSize</key>
                <string>{15,62}</string>
                <key>textureRect</key>
                <string>{{632,18},{15,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>deer_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,65}</string>
                <key>spriteSourceSize</key>
                <string>{15,65}</string>
                <key>textureRect</key>
                <string>{{565,1},{15,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>deer_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,62}</string>
                <key>spriteSourceSize</key>
                <string>{15,62}</string>
                <key>textureRect</key>
                <string>{{632,35},{15,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>deer_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,65}</string>
                <key>spriteSourceSize</key>
                <string>{15,65}</string>
                <key>textureRect</key>
                <string>{{565,18},{15,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>deer_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,55}</string>
                <key>spriteSourceSize</key>
                <string>{15,55}</string>
                <key>textureRect</key>
                <string>{{696,35},{15,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>deer_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,48}</string>
                <key>spriteSourceSize</key>
                <string>{45,48}</string>
                <key>textureRect</key>
                <string>{{377,1},{45,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>deer_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,48}</string>
                <key>spriteSourceSize</key>
                <string>{45,48}</string>
                <key>textureRect</key>
                <string>{{424,1},{45,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>deer_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,65}</string>
                <key>spriteSourceSize</key>
                <string>{15,65}</string>
                <key>textureRect</key>
                <string>{{565,35},{15,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>deer_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,55}</string>
                <key>spriteSourceSize</key>
                <string>{15,55}</string>
                <key>textureRect</key>
                <string>{{753,18},{15,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>deer_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,48}</string>
                <key>spriteSourceSize</key>
                <string>{45,48}</string>
                <key>textureRect</key>
                <string>{{471,1},{45,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>deer_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,48}</string>
                <key>spriteSourceSize</key>
                <string>{45,48}</string>
                <key>textureRect</key>
                <string>{{518,1},{45,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>deer_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,65}</string>
                <key>spriteSourceSize</key>
                <string>{15,65}</string>
                <key>textureRect</key>
                <string>{{632,1},{15,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>deer.png</string>
            <key>size</key>
            <string>{809,51}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0aac2eeefb7f891a9023c91c9190f9be:2346675523708334dfe5c3b4fee3583d:76865790d25a7acc4f238495183bf8e1$</string>
            <key>textureFileName</key>
            <string>deer.png</string>
        </dict>
    </dict>
</plist>
