<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>squirrel_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,17}</string>
                <key>spriteSourceSize</key>
                <string>{13,17}</string>
                <key>textureRect</key>
                <string>{{483,1},{13,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>squirrel_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,20}</string>
                <key>spriteSourceSize</key>
                <string>{13,20}</string>
                <key>textureRect</key>
                <string>{{315,1},{13,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>squirrel_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,17}</string>
                <key>spriteSourceSize</key>
                <string>{13,17}</string>
                <key>textureRect</key>
                <string>{{502,1},{13,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>squirrel_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,20}</string>
                <key>spriteSourceSize</key>
                <string>{13,20}</string>
                <key>textureRect</key>
                <string>{{337,1},{13,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>squirrel_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,13}</string>
                <key>spriteSourceSize</key>
                <string>{23,13}</string>
                <key>textureRect</key>
                <string>{{217,1},{23,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>squirrel_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,13}</string>
                <key>spriteSourceSize</key>
                <string>{25,13}</string>
                <key>textureRect</key>
                <string>{{1,1},{25,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>squirrel_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,13}</string>
                <key>spriteSourceSize</key>
                <string>{23,13}</string>
                <key>textureRect</key>
                <string>{{242,1},{23,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>squirrel_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,13}</string>
                <key>spriteSourceSize</key>
                <string>{25,13}</string>
                <key>textureRect</key>
                <string>{{28,1},{25,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>squirrel_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,13}</string>
                <key>spriteSourceSize</key>
                <string>{22,13}</string>
                <key>textureRect</key>
                <string>{{267,1},{22,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>squirrel_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,13}</string>
                <key>spriteSourceSize</key>
                <string>{25,13}</string>
                <key>textureRect</key>
                <string>{{55,1},{25,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>squirrel_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,13}</string>
                <key>spriteSourceSize</key>
                <string>{22,13}</string>
                <key>textureRect</key>
                <string>{{291,1},{22,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>squirrel_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,13}</string>
                <key>spriteSourceSize</key>
                <string>{25,13}</string>
                <key>textureRect</key>
                <string>{{82,1},{25,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>squirrel_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,14}</string>
                <key>spriteSourceSize</key>
                <string>{11,14}</string>
                <key>textureRect</key>
                <string>{{521,1},{11,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>squirrel_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,18}</string>
                <key>spriteSourceSize</key>
                <string>{11,18}</string>
                <key>textureRect</key>
                <string>{{403,1},{11,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>squirrel_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,14}</string>
                <key>spriteSourceSize</key>
                <string>{11,14}</string>
                <key>textureRect</key>
                <string>{{537,1},{11,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>squirrel_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,18}</string>
                <key>spriteSourceSize</key>
                <string>{11,18}</string>
                <key>textureRect</key>
                <string>{{423,1},{11,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>squirrel_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,20}</string>
                <key>spriteSourceSize</key>
                <string>{13,20}</string>
                <key>textureRect</key>
                <string>{{359,1},{13,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>squirrel_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,13}</string>
                <key>spriteSourceSize</key>
                <string>{25,13}</string>
                <key>textureRect</key>
                <string>{{109,1},{25,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>squirrel_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,13}</string>
                <key>spriteSourceSize</key>
                <string>{25,13}</string>
                <key>textureRect</key>
                <string>{{136,1},{25,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>squirrel_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,18}</string>
                <key>spriteSourceSize</key>
                <string>{11,18}</string>
                <key>textureRect</key>
                <string>{{443,1},{11,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>squirrel_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,20}</string>
                <key>spriteSourceSize</key>
                <string>{13,20}</string>
                <key>textureRect</key>
                <string>{{381,1},{13,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>squirrel_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,13}</string>
                <key>spriteSourceSize</key>
                <string>{25,13}</string>
                <key>textureRect</key>
                <string>{{163,1},{25,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>squirrel_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,13}</string>
                <key>spriteSourceSize</key>
                <string>{25,13}</string>
                <key>textureRect</key>
                <string>{{190,1},{25,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>squirrel_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,18}</string>
                <key>spriteSourceSize</key>
                <string>{11,18}</string>
                <key>textureRect</key>
                <string>{{463,1},{11,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>squirrel.png</string>
            <key>size</key>
            <string>{552,15}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b783fec271a62cbca3251adb3cec24a:b5d734e54795ad386d1b39f0dbf6f714:f323e49e4dd31f2fd72ef6d8d73d6c59$</string>
            <key>textureFileName</key>
            <string>squirrel.png</string>
        </dict>
    </dict>
</plist>
